<div class="card">
    <h1 style="text-align: center; margin-top: 15px;">BALANCE SHEET AS ON </h1>
    <div class="container row mb-2">
      <div class="col-2"></div>
      <div class="col-3">
        <label>Division Wise</label>
        <select class="form-select">
          <option *ngFor="let division of divisions" [value]="division">{{ division }}</option>
        </select>
      </div>
  
      <!-- <div class="col-3">
        <label>Code Wise</label>
        <select class="form-select">
          <option>code Wise</option>
          <option>code Wise</option>
          <option>code Wise</option>
        </select>
      </div> -->
  
      <div class="col-2">
        <label>Year</label>
        <select class="form-select">
          <option *ngFor="let year of annualYears" [value]="year">{{ year }}</option>
        </select>
      </div>
  
      <div class="col-2">
        <label>From : </label>
        <input type="date" class="form-control">
      </div>
  
      <div class="col-2">
        <label>To : </label>
        <input type="date" class="form-control">
      </div>
    </div>
  
  
    <section class="main-content table1">
      <section class="main-table">
        <table class="table">
          <thead>
            <tr class="application-table">
              <th>LIABILITIES</th>
              <th>SCH</th>
              <th>Current F.Y{{ selectedYear && selectedYear !== 'Select Annual Year' ? selectedYear : '' }}
              </th>
              <th>PREVIOUS F.Y{{ selectedYear && selectedYear !== 'Select Annual Year' ? (+selectedYear.split('-')[0] - 1)
                + ' - ' + (+selectedYear.split('-')[1] - 1) : '' }}</th>
              <th>ASSETS </th>
              <th>SCH </th>
              <th>CURRENT F.Y {{ selectedYear && selectedYear !== 'Select Annual Year' ? selectedYear : '' }}</th>
              <th>PREVIOUS F.Y{{ selectedYear && selectedYear !== 'Select Annual Year' ? (+selectedYear.split('-')[0] - 1)
                + ' - ' + (+selectedYear.split('-')[1] - 1) : '' }} </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>LOANS AND BONDS </th>
              <td>12</td>
              <td></td>
              <td></td>
              <th>FIXED ASSETS</th>
              <td>21</td>
              <td></td>
              <td></td>
            </tr>
  
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <th><b>LESS:</b></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <th>ACCUMULATED
                DEPRECIATION </th>
              <td>22</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th><b>LIABILITIES & PROVISIONS </b></th>
              <td></td>
              <td></td>
              <td></td>
              <th>LONG TERM ASSETS</th>
              <td>23</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>DEPOSIT &
                RETENTION MONEY</th>
              <td>13</td>
              <td></td>
              <td></td>
              <td>INVESTMENTS </td>
              <td>24</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>RECOVERIES</th>
              <td>14</td>
              <td></td>
              <td></td>
              <th><b>CURRENT ASSETS</b></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>ADVANCES PAYABLE </th>
              <td>15</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>BILLS PAYABLE AND
                PROVISION </th>
              <td>16</td>
              <td></td>
              <td></td>
              <th>CURRENT DUES </th>
              <td>25</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>ALLOTTEES DEPOSITS</th>
              <td>17</td>
              <td></td>
              <td></td>
              <th>INVENTORY </th>
              <td>26</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>INTER DIVISION
                CONTROL ACCOUNT</th>
              <td>18</td>
              <td></td>
              <td></td>
              <th>CASH AND BANK </th>
              <td>27</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>HEAD OFFICE
                CONTROL ACCOUNT ALLOTTEE INT.
              </th>
              <td>19</td>
              <td></td>
              <td></td>
              <th>DEPOSIT & ADVANCE
                RECOVERABLE </th>
              <td>28</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>H.O. CONTROL
                ACCOUNT
              </th>
              <td>20</td>
              <td></td>
              <td></td>
              <th>SCHEME COMPLETED NOT
                ALLOTTED & WORK IN
                PROGRESS
              </th>
              <td>29</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <th>DEPOSIT WORK OTHERS </th>
              <td>30</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th><b>TOTAL</b></th>
              <td></td>
              <td></td>
              <td></td>
              <th><b>TOTAL</b></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </div>