.main-content {
    background-color: #dfe0e2;
  }
  /* .table-heading {
    background-color: hwb(240, 98%, 2%);
  } */
  table {
    width: 100%;
  }
  
  .heading1 {
    text-align: center;
    font-size: 15px;
    background-color: #161f6d;
    color: white;
  }
  .heading2 {
    text-align: center;
    font-size: 14px;
  }
  .heading3 {
    text-align: center;
    font-size: 15px;
  }
  
  .footerHeading {
    margin-left: 400px;
    margin-top: 40px;
  }
  
  .wholepage {
    margin: 10px;
    margin-top: 50px;
  }
  .table1 {
    margin-top: 30px;
  }
  .application-table th {
    background-color: #4e93d4;
    color: white;
    font-size: 18px;
  }
  