.main-content {
    padding: 2rem;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
  }
  
  .sub-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #161F6D;
  }
  
  .filter-row {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
  }
  
  .search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #F6F8FA;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    display: flex;
  }
  
  .search-icon mat-icon {
    color: #161F6D;
  }
  
  .date-container input {
    background-color: #F6F8FA;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.4rem;
  }
  
  .excel-btn {
    color: #161F6D;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #161F6D;
  }
  
  .excel-btn .bi-download {
    width: 1rem;
    margin-right: 5px;
  }
  
  .add-dataBtn {
    /* color: #161F6D; */
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #2E6583;
    background-color: #2E6583 !important;
    color: #ffffff;
  }
  

  
  .add-dataBtn .bi-plus {
    width: 1rem;
    margin-right: 5px;
  }
  .biExcel-btn{
    /* color:green !important; */
    margin-top: -3px;
  }
  .biPdf-btn{
    /* color:brown !important; */
    margin-top: -5px;
  }
  .excelBtn{
    box-shadow: 0px 0px 3px 1px;
    font-weight: 500;
    color: beige;
    background-color: #26582fd0;
  }
  .pdfBtn{
    box-shadow: 0px 0px 3px 1px;
    font-weight: 500;
    color: white;
    background-color: #a5481d;
  }
  
  
  .filter-row .label {
    color: #161F6D;
    font-weight: bold;
  }
  
  .schemes-table th {
    background-color: #2E6583 !important;
    color: #F6F4EB;
  }
  .schemes-table{
    border: 5px solid #2E6583;
  }
  
  .master-button {
    border-radius: 1rem;
    background-color: #50163C;
    color: white;
    font-size: 14px;
  }
  .section-background {
    background-color: #99DDFF;
  }

  