<section>
    <h1 style="text-align: center;">TAMIL NADU HOUSUNG BOARD</h1>
    <hr>
    <h3 style="text-align: center;">CONSOLIDATION RECIPTS & PAYMENTS ACCOUNT FOR THE ENDED</h3>
    <table class="table">
        <thead>
            <tr class="theadathaborder">
                <th></th>
                <th colspan="2">RECEIPTS</th>
                <th></th>
                <th colspan="2">PAYMENTS</th>
            </tr>
            <tr class="theadathaborder">
                <th></th>
                <th>Amount</th>
                <th>Amount</th>
                <th></th>
                <th>Amount</th>
                <th>Amount</th>
            </tr>
            <tr class="theadathaborder">
                <th>OPENING BALANCE</th>
                <th>CURRENT F.Y</th>
                <th>PREVIOUS F.Y</th>
                <th></th>
                <th>CURRENT F.Y</th>
                <th>PREVIOUS F.Y</th>
            </tr>
        </thead>
        <tbody>
            <tr class="capitalColumn">
                <td>CAPITAL RECEIPTS</td>
                <td></td>
                <td></td>
                <td>CAPITAL PAYMENT</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Allottees Deposit</th>
                <td></td>
                <td></td>
                <th>Land Acquistion</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Government Receipt(capital)</th>
                <td></td>
                <td></td>
                <th>Land & Development</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Deposit Withdrawal (FD)</th>
                <td></td>
                <td></td>
                <th>Working in progess</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Intrest from Investment</th>
                <td></td>
                <td></td>
                <th>Government Rental</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <th>Slum</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <th>Investment</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <th>Intrest Re-Invested</th>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tbody>
            <tr class="revenueColumn">
                <td>REVENUE RECEIPTS</td>
                <td></td>
                <td></td>
                <td>REVENUE PAYMENTS</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Intrest Income (Allottees)</th>
                <td></td>
                <td></td>
                <th>Administration Cost</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Rental Income</th>
                <td></td>
                <td></td>
                <th>Salaries</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Hire Purchase colln</th>
                <td></td>
                <td></td>
                <th>Finance charges</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Miscellaneous Peceipt</th>
                <td></td>
                <td></td>
                <th>Repairs & Maintenance</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Other Receipt</th>
                <td></td>
                <td></td>
                <th>REpairs & Maintenance Govt</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Government Receipt (Maintenance)</th>
                <td></td>
                <td></td>
                <th>Water Charges / Tax & P.Tax</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <th>CLOSING BALANCE</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <th>Bank Balance</th>
                <td></td>
                <td></td>
            </tr>
            <tr class="totalColumn">
                <td>Total</td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>